// main: ../main.scss

//$backgroud-picture:'debug.jpg';

$backgroud-picture:'bg-valley.jpg';
//$backgroud-picture:'bg-mountain.jpg';
//$backgroud-picture:'bg-water.jpg';
//$backgroud-picture:'bg-valley.jpg';

$background-timing: all 0ms ease-out;

.area-background{
  transition:$background-timing;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  @include background($backgroud-picture);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  //filter:blur(50px) saturate(2);
  //transition:all 5s ease-out;
  &--active{
    //filter:blur(50px) saturate(0.5);// grayscale(0.1);
    transform:scale(2);
  }
  &__reference{
    visibility:hidden;
    height:66.667vm;
    width:100vm; /* IE9 fallback */
    height:66.667vmin;
    width: 100vmin;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
  }
  &__glass{
    transition:$background-timing;
    height:66.667vm;
    width:100vm; /* IE9 fallback */
    height:66.667vmin;
    width: 100vmin;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;

    overflow:hidden;

    //outline:2px solid red;

    perspective: none;
    transform-origin: center;
    transform-style:preserve-3d;
    //outline:5px solid blue;
    border-radius:8px;
    //background-color:blue;
    /*
    &:after{
    content:'';
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;


    @include background('bg-valley.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transform:none!important;
    filter:brightness(0.5) blur(5px);
  }*/
  /*
  perspective: 100px;
  transform-origin: center;
  transform-style: preserve-3d;*/
  /*
  &:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  perspective: none;
  @include background('bg-valley.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transform:none!important;

  opacity:1;
  filter:brightness(0.5) blur(5px);
}*/
/*@include background('bg-valley.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

opacity:1;
filter:brightness(0.5) blur(5px);*/
}

&__reflect{
  transition:$background-timing;

  background-color:black;
  perspective: none;
  transform-origin: center;
  //transform-style:preserve-3d;
  //content:"";
  position:fixed;
  top:0;
  left:0;

  margin:-12.5%;
  height:150%;
  width:150%;


  //outline:5px dashed red;

  //outline:2px solid blue;

  filter:brightness(0.75) blur(15px);
  &:after{
    content:'';
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;


    @include background('bg-valley.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transform:none!important;
    filter:brightness(0.75) blur(5px);
  }
}
}
/*
.test-img{
&:hover{
img:first-child{
filter:blur(0px);
}
}
img{
position:absolute;
display: block;
width: 100vw;
height: 100vh;
top:0;
left:0;
//height:100%;
object-fit: cover;
}
img:first-child{
transition:filter 250ms linear;
filter:blur(10px);
}
img:last-child{d
-webkit-mask: linear-gradient(to top,transparent, black 50%,transparent);
-webkit-mask-size: 100% 100%;
}
}
*/
