// main: ../main.scss

.app{
	position:relative;
	height:100%;
	&__container{
		position:relative;
		//background-image: radial-gradient(circle at right, $light 0, hsl(213, 100%, 25%) 100%);

		height:100%;
		background:linear-gradient(to bottom, #4b98ff, #5c3bb4);
		/*transition:background 5s bezier(swift) 5s;
		background:linear-gradient(to bottom, #4b98ff, #5c3bb4);*/
		&:before{
			transition:opacity 5s bezier('swift');
			opacity:1;
			content:"";
			top:0;
			position:absolute;
			display:block;
			height:100%;
			width:100%;
			background-color: #5c3bb4;
		}

	}
	&--lighting{
		.app__container:before{
			opacity:0;
		}
	}
}
