// main: ../main.scss

.card{
	width:100%;
	height:100%;
	padding:32px;
	&__header{

	}
	&__body{


	}
	&__footer{

	}
	&__trigger{
/*
		     position: absolute;
		     margin: auto;
		     top: 0;
		     right: 0;
		     bottom: 0;
		     left: 0;*/
				 //display:inline-block;
		width:256px;
		height:64px;
		background-color:white;
		border-radius:8px;
		padding:8px 32px;
		font-size:24px!important;
		overflow:hidden;
		text-overflow:ellipsis;
		line-height:64px-18px;
		text-align:center;
		cursor:pointer;
		transition:all 225*2ms bezier(swift);
	}
	&--open{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		.card__trigger{
			width:100%;
			height:100%;
			border-radius:8px;
			transition:all 195*2ms bezier(swift);
		}
	}

}
