// main: ../main.scss

$corner-color:rgba(255,255,255,75);
$corner-color-reflect:rgba(255,255,255,0.25);
$corner-size:8px;

.card{
	position:relative;
	display:inline-block;
	width:100%;
	height:100%;
	padding:32px;
	color:white;
	font-weight:bold;
	font-size: 32px;
	/*transform-style: preserve-3d;
	transform: translateY(0px) rotateX(20deg) rotateY(-25deg) translateZ(0px);*/
	&__background{
		.card__corner{
			border-color:$corner-color!important;
		}
	}
	&__reflect{
			.card__corner{
				border-color:$corner-color-reflect!important;
			}
	}
	&__corner{
		position:absolute;
		width:$corner-size;
		height:$corner-size;
		//background-color:white;
		//border-color:$corner-color!important;
		&:nth-child(1){
			top:0;
			left:0;
			border-top:1px solid;
			border-left:1px solid;
		}
		&:nth-child(2){
			top:0;
			right:0;
			border-top:1px solid;
			border-right:1px solid;
		}
		&:nth-child(3){
			bottom:0;
			left:0;
			border-bottom:1px solid;
			border-left:1px solid;
		}
		&:nth-child(4){
			bottom:0;
			right:0;
			border-bottom:1px solid;
			border-right:1px solid;
		}
	}
	&__header{

	}
	&__body{


	}
	&__footer{

	}
	&__trigger{
		width:256px;
		height:64px;
		background-color:white;
		border-radius:8px;
		padding:8px 32px;
		font-size:24px!important;
		overflow:hidden;
		text-overflow:ellipsis;
		line-height:64px-18px;
		text-align:center;
		cursor:pointer;
		transition:all 225*2ms bezier(swift);
	}
	&--open{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		.card__trigger{
			width:100%;
			height:100%;
			border-radius:8px;
			transition:all 195*2ms bezier(swift);
		}
	}

}
