// main: ../main.scss
$phi:1.618;
$light:hsl(181, 100%, 75%);

html,body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	font-weight:300;
	font-family: 'Comfortaa', cursive;
}
/*
.title{
position:absolute;
top:50%;
right:50%;
margin-right:-35px;
margin-top:-70px;
font-size:0;
.letter{
filter:drop-shadow(0px 0px 1px black);
//width:100px;
//position:absolute;
//right:0;
display:inline-block;
font-size:128px;
color:$light;
}
}*/
