// main: ../main.scss

.particule{
	position:relative;
	height:100%;
	overflow:hidden;
	&__element{
		position: relative;
		&:before{
			position: absolute;
			content:"";
			//border-radius: 50%;
			$color: hsla(0, 0%, 100%, 0.75);
			$border: hsla(0, 0%, 100%, 1);
			$relief: hsla(0, 0%, 50%, 1);
			animation-fill-mode:both;
			border:1px solid $border;
			box-shadow:inset 0 0 2px $relief;

			//transform: translate3d((random(100) * 1vw), (random(90) * 1vh), (random(100) * 1px));
			background:$color;//random(50)/100

		}

		@for $i from 1 through 60 {
			$x:random(100);
			$y:random(100);

			@keyframes particle-animation-y-#{$i} {
				100% {
					transform: translate3d(random(100) * 1vh);
				}

			}
			&:nth-child(#{$i}){
				transform: translate(random(100) * 2vw);

				animation-delay: $i * .2s;
				/*	animation:
				particle-animation-x-#{$i} 10s cubic-bezier(random(100)/100,random(100)/100,random(100)/100,random(100)/100) infinite;
				*/

				&:before{
					$distance:random(10);
					$size: $distance + px;
					height: $size;
					width: $size;
					opacity: $distance /10;
					transform: translate(random(10) * 2vh);

					animation-delay: $i * .2s;
					/*animation:
					particle-animation-y-#{$i} 10s bezier(swift) infinite
					//particle-animation-y-#{$i} 60s cubic-bezier(random(100)/100,random(100)/100,random(100)/100,random(100)/100) infinite
					;*/
				}
				/*transform: translateY(random(100) * 1vh) translateX(random(100) * 1vh);*/
			}
		}
	}
}
