// main: ../main.scss

.particule{
	position:relative;
	height:100%;
	overflow:hidden;
	&__element{
		position: relative;
		animation-fill-mode:both;
		border-radius:50%;

		@for $i from 1 through 60 {
			$distance:random(20);
			$opacity:$distance/2;
			$speed:$opacity+10;
			$x:random(45);
			$y:random(45);
			$z:random(45);

			@keyframes particle-animation-#{$i} {
				0% {
					visibility:hidden;
					transform: translate3d(-10 * 1vw, random(100) * 1vh, 0)
					perspective($distance*1000+px) rotateX(-$x+deg) rotateY(-$y+deg) rotateZ(-$z+deg);
				}
				1% {
					visibility:visible;
					transform: translate3d(-10 * 1vw, random(100) * 1vh, 0)
					perspective($distance*1000+px) rotateX(-$x+deg) rotateY(-$y+deg) rotateZ(-$z+deg)
				}
				99% {
					transform: translate3d(110 * 1vw, random(100) * 1vh, 0)
					perspective($distance*1000+px) rotateX($x+deg) rotateY($y+deg) rotateZ($z+deg);
				}
				100% {
					transform: translate3d(110 * 1vw, random(100) * 1vh, 0)
					perspective($distance*1000+px) rotateX($x+deg) rotateY($y+deg) rotateZ($z+deg);

					visibility:hidden;
				}

			}
			&:nth-child(#{$i}){
				$color: hsla(0, 0%, 100%, $distance/10);
				background:$color;
				$bezier-random:linear;
				visibility:hidden;
				animation:particle-animation-#{$i} $speed*10s $bezier-random infinite;
				box-shadow:0 0 $distance/2+px 0 white; //cost almost nothing

				//filter:blur($distance*$distance/100+px);//cost too much
				@if $opacity == 10{
					opacity:0.1;
				}
				@elseif $opacity == 9{
					opacity:0.1;
				}
				@elseif $opacity == 8{
					opacity:0.2;
				}
				@elseif $opacity == 7{
					opacity:0.2;
				}
				@elseif $opacity == 6{
					opacity:0.3;
				}
				@elseif $opacity == 5{
					opacity:0.3;
				}
				@elseif $opacity == 4{
					opacity:0.4;
				}
				@elseif $opacity == 3{
					opacity:0.6;
				}
				@elseif $opacity == 2{
					opacity:0.8;
				}
				@elseif $opacity == 1{
					opacity:1;
				}@else{
					opacity:0.1;
				}
				$size: $distance + px;
				height: $size;
				width: $size;
				//opacity: $distance /10;
				//transform: translate(random(10) * 2vh);

				animation-delay: $i * -10+s;
				/*&:before{
				animation:
				particle-animation-y-#{$i} 10s bezier(swift) infinite
				//particle-animation-y-#{$i} 60s cubic-bezier(random(100)/100,random(100)/100,random(100)/100,random(100)/100) infinite
				;
			}*/
			/*transform: translateY(random(100) * 1vh) translateX(random(100) * 1vh);*/
		}
	}
}
}
