// main: ../main.scss


.logo{
	&--standard path{
		animation-timing-function: bezier(1);
	}
	&--deceleration path{
		animation-timing-function: bezier(2);
	}
	&--acceleration path{
		animation-timing-function: bezier(3);
	}
	&--sharp path{
		animation-timing-function: bezier(4);
	}
	&--swift path{
		animation-timing-function: bezier(5);
	}
	&--ease path{
		animation-timing-function: bezier(0);
	}
	&--ease-in-out path{
		animation-timing-function: bezier(6);
	}
	&--animating {
		.logo__letter{
			@for $i from 1 through length($list-letter){
				$current-letter:nth($list-letter, $i);
				&--#{nth($list-letter, $i)} path{
					stroke-dasharray: nth($list-offset, $i);
					animation-name: logo-offset-#{$current-letter};
				}
			}
		}
	}
	&--growth{
		path{
			stroke-width:12px!important;
			transition:stroke-width 500ms bezier(bounce);
		}
	}
	&--lighting {
		.logo__svg{
			transition:filter $duration-ligthing bezier(linear);
			filter:
			drop-shadow(0 -1pt 0pt white)
			drop-shadow(0 0.25pt 0pt $logo-shape)
			drop-shadow(0 0.5pt 0pt $logo-shape)
			drop-shadow(0 0.75pt 0pt $logo-shape)
			drop-shadow(0 1pt 0pt $logo-shape)
			drop-shadow(0 1pt 0pt $logo-shape)

			drop-shadow(0 0pt 0pt darken($logo-shadow,100%))
			//drop-shadow(0 0pt 1pt darken($logo-shadow,100%))
			//logo-shape
			drop-shadow(0 1pt 1pt $logo-shadow)
			drop-shadow(0 1pt 1pt $logo-shadow)
			drop-shadow(0 1pt 1pt $logo-shadow)
			drop-shadow(0 2pt 2pt $logo-shadow)
			drop-shadow(0 3pt 3pt $logo-shadow)
			drop-shadow(0 4pt 4pt $logo-shadow)
			drop-shadow(0 5pt 5pt $logo-shadow)
			;
		}
	}

	.logo__svg{
		padding:64px 115px;
		//transform-origin:0  0;
		transform:scale(1);
		filter:
		drop-shadow(0 -1pt 0pt white)
		drop-shadow(0 0.25pt 0pt $logo-shape)
		drop-shadow(0 0.5pt 0pt $logo-shape)
		drop-shadow(0 0.75pt 0pt $logo-shape)
		drop-shadow(0 1pt 0pt $logo-shape)
		drop-shadow(0 1pt 0pt $logo-shape)

		drop-shadow(0 0pt 0pt darken($logo-shadow,100%));
	}
	&__letter{
		path{
			fill:none;
			stroke-linecap:round;
			stroke-linejoin:round;
			stroke-miterlimit:4;
			stroke-opacity:0;
			stroke-width:4px;
			stroke:hsla(240,100%,50%,1)!important;

			animation-duration:$animation-duration+ms;
			animation-iteration-count:1;
			animation-fill-mode: both;
		}
		//animation-delay
		$count:10;
		$delay:$animation-duration/$phi/$phi;
		$count-x:4;
		$delay-x:100;
		@for $i from 1 through $count {
			&:nth-child(#{$i}) path {
				animation-delay:#{(($i)-1)*$delay}ms;
				/*@for $j from 1 through $count-x {
				&:nth-child(#{$j}) {
				animation-delay:#{(($i)-1)*$delay+($delay-x*$j)}ms;
			}
		}*/
	}
}
}

&__box{
	display:none;
}/*
&__letter--x{
transform-origin: 212px 25px;
animation:logo-x-rotate 1s bezier('deceleration');
animation-delay:2250ms;
}*/
}

/*--------------keyframes----------------------*/
@for $i from 1 through length($list-letter){
	@keyframes logo-offset-#{nth($list-letter, $i)} {
		0%{
			stroke-opacity:0.25;
			stroke-dashoffset: nth($list-offset, $i);
		}
		25% {
			stroke-opacity:1;
			stroke-dashoffset: 0;
		}
		100% {
			stroke-opacity:0.75;
			stroke-dashoffset: 0;
		}
	}
}
@keyframes logo-x-rotate {
	0%{
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
